<%= div_for list do %>
  <h2><%= link_to list.title, list_path(list) %></h2>
  <p> <%= list.description %> </p>
  <% list.five_books.each do |book| %>
    <%= link_to book_path(book) do %>
      <%= book_cover(book, size: '75x75') %>
    <% end %>
  <% end %>
  <hr />
<% end %>
