<section class='books-section'>
  <h1>Books</h1>
  <%= render 'filter' %>
  <table>
    <thead>
      <tr>
        <td>Title</td>
        <td>Cover</td>
        <td>Genre</td>
        <td><%= sortable 'average_rating', 'Average Rating' %></td>
        <td><%= sortable 'published_on', 'Published Date' %></td>
      </tr>
    </thead>
    <tbody>
      <%= content_tag_for(:tr, @books) do |book| %>
        <td><%= link_to book.title, book_path(book) %></td>
        <td><%= link_to book_cover(book, size: '60x60'), book_path(book)  %></td>
        <td><%= book.genre_name  %></td>
        <td><%= book.average_rating %></td>
        <td><%= book.published_on  %></td>
      <% end %>
    </tbody>
  </table>
  <%= paginate @books %>
</section>
